<!DOCTYPE html>
<html>
	<head>
	    <title>Search Engine</title>
	    <style>
		    body {
			    background-image: linear-gradient(to left, white, rgb(0, 11, 128));
			    color: rgb(197, 0, 252);
		    } 
            
            #Output{
		        background-color: lightgrey;
		        width: 900px;
		        height: 400px;
		        border: 2px solid black;
		        text-align: left;
		        margin-top: 225px;
	        }
		</style>
	</head>
	<body>
		<div class="search">     
            <form action="/" class="Center" method= "POST">
                  <input type="text"
                    placeholder=" This is a test."
                    name="Textbox" id= "Textbox">
                    <button type="submit" class="Centera">Test</button>
            </form>
        </div>
	</div>
	</body>
</html>